:global(.intro) {
    height: 100vh;
    overflow: hidden;

    .container {
        display: block;
    }
}
.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    z-index: 1000;

    .inner {
        position: relative;
        padding: 80px 0;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 62px;
            height: 62px;
            background: #191919;
            transform: translate(0, 0) scale(100, 50);
            will-change: transform;
            animation: logoAni 0.6s ease forwards 4.3s;
        }
        @keyframes logoAni {
            0% {
                transform: translate(0, 0) scale(100, 50);
            }

            60% {
                transform: translate(0, 50px) scale(1, 1);
            }

            100% {
                transform: translate(0, 50px) scale(0, 0);
            }
        }

        @media (max-width: 1023px) {
            &::before {width: 40px; height: 40px;}

            @keyframes logoAni {
                0% {
                    transform: translate(0, 0) scale(100, 50);
                }

                60% {
                    transform: translate(0, 20px) scale(1, 1);
                }

                100% {
                    transform: translate(0, 20px) scale(0, 0);
                }
            }
        }
    }
}
.introText {
    font-size: clamp(40px, 9vw, 172px);
    font-weight: 500;
    color: rgba(255,255,255,0.8);
}
.introText :global(.text) {
    overflow: hidden;
    line-height: 0.7;
}
.introText :global(.text + .text) {
    margin-top: 70px;

    @media (max-width: 1023px) {
        margin-top: 20px;
    }
}
.introText :global(.text .word) {
    display: block;
    transform: translateY(0);
    animation: textUp 0.5s ease forwards 3.7s;
}
.introText :global(.text .char) {
    display: inline-block;

    &:not(:first-child):not(:last-child){
        width: 0;
        opacity: 0;
        animation: textSplit 0.1s forwards 0.5s;
        animation-delay: calc(0.5s + 0.15s * var(--char-index));
    }
}
.introText :global(.text.text-02 .char:not(:first-child):not(:last-child)) {
    animation: textSplit 0.1s forwards 1.5s;
    animation-delay: calc(1.5s + 0.15s * var(--char-index));
}
.introText :global(.text.text-02 .char:nth-child(2)) {
    width: auto;
    opacity: 1;
    animation: none !important;
}
@keyframes textSplit {
    0% {width: 0;opacity: 0;}
    100% {width: auto;opacity: 1;}
}
@keyframes textUp {
    0% {transform: translateY(0);}
    100% {transform: translateY(110%);}
}